@model Bootcamp.MVC.NET.Models.RequestBarang
@{
  ViewData["Title"] = "Input Data Produk";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<form action="InputData" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="kode" class="form-label">Kode Produk</label>
    <input type="text" class="form-control" id="kode" asp-for="Kode">
  </div>
  <div class="mb-3">
    <label for="nama" class="form-label">Nama Produk</label>
    <input type="text" class="form-control" id="nama" asp-for="Nama">
  </div>
  <div class="mb-3">
    <label for="harga" class="form-label">Harga Produk</label>
    <input type="text" class="form-control" id="harga" asp-for="Harga">
  </div>
  <div class="mb-3">
    <label for="stok" class="form-label">Banyak Stok</label>
    <input type="text" class="form-control" id="stok" asp-for="Stok">
  </div>
  <div class="mb-3">
    <label for="deskripsi" class="form-label">Deskripsi Produk</label>
    <input type="text" class="form-control" id="deskripsi" asp-for="Description">
  </div>
  <div class="mb-3">
    <label for="gambar" class="form-label">Gambar</label>
    <input type="file" class="form-control" id="gambar" asp-for="Image">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
